<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae04d7f0b0.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo_container">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo" id="logo">
            <div class="search">
                <form action="resultado.html" method="GET">
                    <input type="text" name="" id="" placeholder="Buscá productos, categorías, marcas...">
                    <button class="lupa"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p><span class="iconos"><i class="fas fa-hand-holding-usd"></i></span> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <input type="checkbox" id="menu" >
            <label for="menu"><p class="menu"><i class="fas fa-bars" id="menu"></i></p></label>
            <ul>
                <div class="container_1">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </div>
                <div class="container_2">
                    <li><a href="/register">Creá tu cuenta <span class="iconos"><i class="far fa-address-card"></i></span></a></li>
                    <li><a href="/login">Ingresá <span class="iconos"><i class="fas fa-sign-in-alt"></i></span></a></li>
                    <li><a href="">Mis compras <span class="iconos"><i class="fas fa-shopping-basket"></i></span></a></li>
                </div>
            </ul>
        </nav>
    </header>
    <main class="home">
        <div id="banner">
            <img src="/images/img-home-banner.jpg" alt="" id="banner">
        </div>
        <h3 class="titulares">Basado en tu última visita</h3>
        <section class="ultima_visita">
            <article class="productos">
                <img class="foto_articulo" src="/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera">
                <div class="contenedor">
                    <i class="fas fa-truck" id="envio"></i>
                    <p class="monto">$6.770 <span class="descuento">40% OFF</span></p>
                    <h4 class="titulo_producto">Cafetera Moulinex</h4>
                    <p class="descripcion">*</p>
                </div>
            </article>
            <article class="productos">
                <img class="foto_articulo" src="/images/img-macbook-pro-2019.jpg" alt="Foto de macbookpro">
                <div class="contenedor">
                    <i class="fas fa-truck" id="envio"></i>
                    <p class="monto">$230.000 <span class="descuento">20% OFF</span></p>
                    <h4 class="titulo_producto">MacBook Pro 2019</h4>
                    <p class="descripcion">*</p>
                </div>
            </article>
            <article class="productos">
                <img class="foto_articulo" src="/images/img-samsung-galaxy-s10.jpg" alt="Foto de celular">
                <div class="contenedor">
                    <i class="fas fa-truck" id="envio"></i>
                    <p class="monto">$70.500 <span class="descuento">10% OFF</span></p>
                    <h4 class="titulo_producto">Samsung Galaxy S10</h4>
                    <p class="descripcion">*</p>
                </div>
            </article>
            <article class="productos">
                <img class="foto_articulo" src="/images/img-tv-samsung-smart.jpg" alt="Foto de smarttv">
                <div class="contenedor">
                    <i class="fas fa-truck" id="envio"></i>
                    <p class="monto">$23.200 <span class="descuento">5% OFF</span></p>
                    <h4 class="titulo_producto">SmartTv Samsung 43"</h4>
                    <p cls="descripcion">*</p>
                </div>
            </article>
        </section>
        <h3 class="ofertas">Ofertas</h3>
        <section class="articulos_oferta">
            <article class="productos">
                    <img class="foto_articulo" src="/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera">
                <div class="contenedor">
                    <i class="fas fa-truck" id="envio"></i>
                    <p class="monto">$6.770 <span class="descuento">40% OFF</span></p>
                    <h4 class="titulo_producto">Cafetera Moulinex</h4>
                    <p class="descripcion">*</p>
                </div>
            </article>
            <article class="productos">
                <img class="foto_articulo" src="/images/img-macbook-pro-2019.jpg" alt="Foto de macbookpro">
                <div class="contenedor">
                    <i class="fas fa-truck" id="envio"></i>
                    <p class="monto">$230.000 <span class="descuento">20% OFF</span></p>
                    <h4 class="titulo_producto">MacBook Pro 2019</h4>
                    <p class="descripcion">*</p>
                </div>
            </article>
            <article class="productos">
                <img class="foto_articulo" src="/images/img-samsung-galaxy-s10.jpg" alt="Foto de celular">
                <div class="contenedor">
                    <i class="fas fa-truck" id="envio"></i>
                    <p class="monto">$70.500 <span class="descuento">10% OFF</span></p>
                    <h4 class="titulo_producto">Samsung Galaxy S10</h4>
                    <p class="descripcion">*</p>
                </div>
            </article>
            <article class="productos" id="ultimo_articulo">
                <img class="foto_articulo" src="/images/img-tv-samsung-smart.jpg" alt="Foto de smarttv">
                <div class="contenedor">
                    <i class="fas fa-truck" id="envio"></i>
                    <p class="monto">$23.200 <span class="descuento">5% OFF</span></p>
                    <h4 class="titulo_producto">SmartTv Sasung 43"</h4>
                    <p class="descripcion">*</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="pie_pagina">
            <div class="iconos_footer"><i class="fas fa-credit-card"></i></div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="pie_pagina">
            <div class="iconos_footer"><i class="fas fa-gift"></i></div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="pie_pagina">
            <div class="iconos_footer"><i class="fas fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="pie_pagina4">
            <h4>Copyright © 1999-2020 Mercado Liebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>