<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae04d7f0b0.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo">
        <div class="search">
        <form action="">
            <input type="text" name="" id="" placeholder="Buscá productos, categorías, marcas..."></i>
            <button class="lupa"><i class="fas fa-search"></i></button>
        </form>
        </div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <br>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main class="productos">
        <h3>Basado en tu última visita</h3>
        <section class="ultima_visita">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera">
                <div class="precio">
                    <p class="monto">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                <h4 class="titulo_producto">Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Foto de macbookpro">
                <div class="precio">
                    <p class="monto">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <h4 class="titulo_producto">MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto de celular">
                <div class="precio">
                    <p class="monto">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
                <h4 class="titulo_producto">Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Foto de smarttv">
                <div class="precio">
                    <p class="monto">$23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
                <h4 class="titulo_producto">SmartTv Samsung 43"</h4>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section class="ofertas">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera">
                <div class="precio">
                    <p class="monto">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                <h4 class="titulo_producto">Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Foto de macbookpro">
                <div class="precio">
                    <p class="monto">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <h4 class="titulo_producto">MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto de celular">
                <div class="precio">
                    <p class="monto">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
                <h4 class="titulo_producto">Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Foto de smarttv">
                <div class="precio">
                    <p class="monto">$23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
                <h4 class="titulo_producto">SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <br>
    <footer>
        <section class="pie_pagina">
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="pie_pagina">
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="pie_pagina">
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="pie_pagina">
            <h4>Copyright © 1999-2020 Mercado Liebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>