:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #ebebeb;
    --color-verde: #39b54a;
    --tipografia-general: 'Roboto', sans-serif;
    --cuerpo-texto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos-descripciones: 16px
}

/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a 
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--tipografia-general);
}

body {
    background-color: var(--color-gris-claro);
}